@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

.banner-parallax {
    /*
    background-color: #d5eaff;
    background-image: radial-gradient( farthest-side at 5% 100%, #fff, transparent 700px ),
        radial-gradient( farthest-side at 25% 320%, #82adff, transparent 1400px ),
        radial-gradient( farthest-corner at bottom right, #fff, transparent 1200px ),
        radial-gradient( farthest-side at center left, #fff, transparent 1200px ),
        radial-gradient( farthest-side at 35% 35%, rgba(255,255,255,.7), transparent 700px );
    */
    font-family: 'Inter', sans-serif;
}

.banner-parallax .title-sector-main {
    display: inline-block;
    font-weight: 900;
    color: transparent;
    -webkit-background-clip: text;
    --tw-gradient-from: #000;
    --tw-gradient-to: #fff;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to);
}

.banner-parallax .contextualize {
    width: 100%;
    position: relative;
}

.banner-parallax .contextualizer {
    width: 100%!important;
    padding: 24px 0 24px;
    top: 0px;
    max-height: 100%;
    margin: auto;
    left: 0px;
    right: 0px;
}

.banner-parallax .contextualizer-image {
    position: relative;
    padding: 0;
    max-height: 100%;
}

.banner-parallax .contextualizer-title {
    padding: 24px 24px;
}

.banner-parallax .title-sector-main {
    font-size: 52px;
    margin: 0;
    position: relative!important;
    z-index: 9;
    font-weight: 700;
    letter-spacing: -3px;
}

.banner-parallax .title-sector-1 {
    font-size: 24px;
    margin: 0;
    position: relative!important;
    font-weight: 600;
    letter-spacing: -3px;
    z-index: 5;
}

.banner-parallax .title-sector-3 {
    font-size: 28px;
    margin: 0;
    position: relative!important;
    font-weight: 600;
    letter-spacing: -3px;
    z-index: 5;
}

.banner-parallax .contextualizer-title .title-sector-main {
    font-size: 48px;
}


/* circled buyttons */

.services-list {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    width: 420px;
    height: 420px;
}
.service-item {
    position: absolute;
    background: rgb(255 255 255 / 85%);
    border-radius: 36px;
    padding: 5px;
    font-size: 0;
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.15);
    font-weight: 600;
}
.service-item a {
    display: inline-block;
    line-height: 0;
    color: #333;
}
.service-item-1 {
    left: 60px;
    bottom: 350px;
}
.service-item-1 a {
    color: #5a9dfb;
}

.service-item-2 {
    left: -3px;
    bottom: 282px;
}
.service-item-2 a {
    color: #b040ff;
}

.service-item-3 {
    left: -28px;
    bottom: 194px;
}
.service-item-3 a {
    color: #eb7f00;
}

.service-item-4 {
    left: -12px;
    bottom: 100px;
}
.service-item-4 a {
    color: #fd3f6b;
}

.service-item-5 {
    left: 44px;
    bottom: 24px;
}
.service-item-5 a {
    color: #3283ff;
}

.service-item-6 {
    left: 134px;
    bottom: -20px;
}
.service-item-6 a {
    color: #1ac29f;
}

.service-item .link-content {
    display: inline-block;
    width: 0;
    transition: .5s;
    overflow: hidden;
    line-height: 1em;
    vertical-align: middle;
    font-size: 18px;
    text-align: center;
}
.service-item:hover .link-content {
    display: inline-block;
    width: 220px;
    transition: .5s;
}
.service-item .link-content .link-content-text {
    min-width: 220px;
    display: inline-block;
    width: 0;
    padding: 0 12px 0 0; 
}

.circled-buttons {
    right: 20px;
    left: auto!important;
    bottom: 140px;
    top: auto!important;
    z-index: 5;
    position: absolute;
    display: none;
}

/* media queries */

@media only screen and (min-width: 392px) {
    .banner-parallax .title-sector-1 {
        font-size: 24px;
        margin: 0;
    }
    
    .banner-parallax .title-sector-3 {
        font-size: 32px;
        margin: 0;
    }

    .banner-parallax .contextualizer-title .title-sector-main {
        font-size: 56px;
    }
    
    .banner-parallax .contextualizer-image {
        position: relative;
        padding: 12px;
    }
}

@media only screen and (min-width: 768px) {
    .banner-parallax .contextualizer {
        padding: 260px 0;
    }
    .banner-parallax .title-sector-main {
        font-size: 72px;
    }
    .banner-parallax .title-sector-1 {
        font-size: 56px;
        margin-bottom: -11px;
    }
    .banner-parallax .title-sector-3 {
        font-size: 56px;
        margin-top: -10px;
    }
    .banner-parallax .contextualizer-image {
        position: absolute;
        margin-top: auto;
        margin-bottom: auto;
        top: 0;
        bottom: -75px;
        right: -140px!important;
        left: auto!important;
    }
    
}

@media only screen and (min-width: 1248px) {
    .circled-buttons {
        display: block;
    }
}